.recipe_box {
    width: 40%;
    height: max-content;
    background-color: #FFFAFA;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.5s ease ;

    
}
img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
}
ol {
    transition: all 0.5s ease-in-out;
}
ol li{
    text-align: left;
    transition: all 0.5s ease-in-out;
     
}
.recipe_box:hover {
    box-shadow: 0px 10px 15px gray;
}

img:hover {
    
    width: 130px;
    height: 130px;
}